<button type="submit" id="kt_btnsave_submit" class="btn btn-primary form-control font-weight-bolder col-4 mr-10">حفظ</button>
<button type="reset" id="kt_btnreset_Reset" class="btn btn-secondary form-control  font-weight-bolder col-4">إلغاء</button>