<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Card-->
                        <div class="card card-custom">
                            <!--begin::Card body-->
                            <div class="card-body">
                                <!--begin::Group-->
                                <div class="form-group">
                                    <label class="col-form-label text-lg-right text-left">
                                        إسم الموظف
                                    </label>
                                    <input class="form-control" value="محمد عبد الرحيم" type="text" disabled />
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group mt-n5">
                                    <label class="col-form-label text-lg-right text-left">
                                        تاريخ الميلاد
                                    </label>
                                    <input value="15/09/1988" class="form-control" type="text" disabled />
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group mt-n5">
                                    <label class="col-form-label text-lg-right text-left">
                                        المؤهل
                                    </label>
                                    <input value="بكالوريوس تجارة" class="form-control" type="text" disabled />
                                </div>
                                <!--end::Group-->
                                <div class="row">
                                    <div class="col-xl-4">

                                    </div>
                                    <div class="col-xl-4">

                                    </div>
                                    <div class="col-xl-4">
                                        <p class="col-form-label text-lg-right text-left h6 mr-30">يعتمد</p>
                                        <p class="col-form-label text-lg-right text-left h6 mr-10">الختم</p>
                                    </div>
                                </div>
                                <!--end::Group-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
        </div>
    </div>
    <!--end::Wrapper-->
    <!--end::Page-->
</div>